<a href="https://colab.research.google.com/github/ashashree2000/DSMP_CampusX_Assignments/blob/main/CampusX_DSMP_session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [2]:
# Write your code here

#declare the strings
s1 = "Data"
s2 = "Science"
s3 = "Mentorship"
s4 = "Program"
s5 = "By"
s6 = "CampusX"

#print the string
print(s1,s2,s3,s4,"started",s5,s6, sep="-" )

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here

celsius_value = float(input("Enter temperature in Celsius: "))
fahrenheit_value = (celsius_value * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit_value)

Enter temperature in Celsius: 32
Temperature in Fahrenheit: 89.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [6]:
# Write your code here

num1 = int(input('Enter the first number:' ))
num2 = int(input('Enter the second number:'))

#swap the numbers
temp = num1
num1 = num2
num2 = temp

print("After swapping, first number:", num1)
print("After swapping, second number:", num2)

Enter the first number:3
Enter the second number:4
After swapping, first number: 4
After swapping, second number: 3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [7]:
# Write your code here

#for 1 Dimensional
coord1 = (int(input("Enter the first coordinate: ")))
coord2 = (int(input("Enter the second coordinate: ")))

Euc = (coord1**2 + coord2**2)**0.5
print("Euclidean distance:", Euc)

Enter the first coordinate: 3
Enter the second coordinate: 4
Euclidean distance: 5.0

In [8]:
#for 2 Dimensional

#coordinate 1
x1 = int(input("Enter the first coordinate: "))
y1 = int(input("Enter the second coordinate:"))

#coordinate 2
x2 = int(input("Enter the first coordinate: "))
y2 = int(input("Enter the second coordinate:"))

#Euclidean distance
Euc = ((x1-x2)**2 + (y1-y2)**2)**0.5
print("Euclidean distance:", Euc)

Enter the first coordinate: 2
Enter the second coordinate:4
Enter the first coordinate: 3
Enter the second coordinate:5
Euclidean distance: 1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [11]:
# Write your code here
principle = float(input("Enter the principle amount: "))
rate = float(input("Enter the rate of interest: "))
time = float(input("Enter the time period: "))


simple_interest = (principle * rate * time)/100
print("Simple interest is:", simple_interest)

Enter the principle amount: 1000
Enter the rate of interest: 9.6
Enter the time period: 5
Simple interest is: 480.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [16]:
# Write your code here
heads = int(input("Enter the number of heads: "))
legs = int(input("Enter the number of legs: "))

dogs = (legs - 2 * heads) / 2
chicken = heads - dogs

print("Dogs:", dogs)
print("Chicken:", chicken)

Enter the number of heads: 4
Enter the number of legs: 12
Dogs: 2.0
Chicken: 2.0

In [ ]:
# this approach doesnt contain the test case when the number of legs is an odd number

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [17]:
# Write your code here
n = int(input("Enter the value of n: "))
sum_squares = (n * (n + 1) * (2 * n + 1)) / 6
print("Sum of squares:", sum_squares)

Enter the value of n: 9
Sum of squares: 285.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [18]:
# Write your code here
term1 = int(input("Enter the first term: "))
term2 = int(input("Enter the second term: "))
n = int(input("Enter the value of n: "))

d = term2 - term1
nth_term = term1 + (n - 1) * d
print("Nth term:", nth_term)

Enter the first term: 1
Enter the second term: 5
Enter the value of n: 4
Nth term: 13

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [20]:
# Write your code here

# Input from the user
numerator1 = int(input("Enter the numerator of the first fraction: "))
denominator1 = int(input("Enter the denominator of the first fraction: "))
numerator2 = int(input("Enter the numerator of the second fraction: "))
denominator2 = int(input("Enter the denominator of the second fraction: "))

# Find a common denominator
common_denominator = denominator1 * denominator2

# Adjust the numerators based on the common denominator
adjusted_num1 = numerator1 * denominator2
adjusted_num2 = numerator2 * denominator1

# Calculate the sum of the adjusted numerators
sum_numerator = adjusted_num1 + adjusted_num2

# Print the result
print("Sum of the fractions:", sum_numerator, "/", common_denominator)

Enter the numerator of the first fraction: 1
Enter the denominator of the first fraction: 5
Enter the numerator of the second fraction: 1
Enter the denominator of the second fraction: 5
Sum of the fractions: 10 / 25

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [21]:
# Write your code here
height = int(input("Enter the height of the milk tank: "))
width = int(input("Enter the width of the milk tank: "))
breadth = int(input("Enter the breadth of the milk tank: "))

glass_height = int(input("Enter the height of the glass: "))
glass_radius = int(input("Enter the radius of the glass: "))

volume_tank = height * width * breadth
volume_glass = (22/7) * glass_radius**2 * glass_height

number_of_glasses = volume_tank // volume_glass
print("Number of glasses:", number_of_glasses)

Enter the height of the milk tank: 20
Enter the width of the milk tank: 20
Enter the breadth of the milk tank: 20
Enter the height of the glass: 3
Enter the radius of the glass: 1
Number of glasses: 848.0